.form-control {
    min-width: 450px;
    border: none;
}
.iconSearch {
    position: absolute;
    left: 10px;
    top: 10px;
}
.bg-search {
    position: relative;
    border: 1px solid gray;
    max-width: 560px;
    min-height: 40px;
    border-radius: 10px;
}
.with-search {

    display: block;
}
.form-inline {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 35px;
}