header{
    height: 150px;
    
}
.logo{
   width: 60px; 
   height: 60px;
 
   float: left;
}
.sreach{
    height: 30px;
    float: left;
}
input[type=text] {
    width: 86%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 7px 10px 9.5px 40px;
  }
  button{
    width: 13%;
    height: 40px;
  }

.col-1{
    height: 40px;
    float: left;
    font-size: 18px;
    margin-top: 1.5%;
}
.col-1:hover {
    background-color: rgb(167, 144, 144);
   border-radius: 5px;
}
.h2{
    height: 40px;
   
    float: left;
}
.h2 ol li{
    font-size: 15px;
    margin-left: 2.5%;
    float: left;
}
.h3{
    height: 40px;
    float: left;
    font-size: 15px;
}
.sale {
    height: 40px;
    background-color: #FFE880;
    float: left;
    text-align: center;
}
article{
    min-height: 900px;
    
}
.col-trai{
    min-height: 500px;
  background-color: #ededed;
    
}
.col-phai{
    min-height: 900px;
   background-color: #ededed;
}
.col-trai-1{
    min-height: 500px;
   margin: 0% auto;
   background-color: white;
   border-radius: 5px;
}
.menudoc1 {
    background-color: #eee;
    margin-top: 3%;
}
.menudoc ul {
    list-style-type: none;
}
.menudoc ul li {
    padding: 20px 20px;
    background-color: #fff;   
}
.menudoc ul li a {
    color: #666;
    text-decoration: none;
    margin-left: 3%;
}

.menudoc ul li:hover {
    background-color: #aba9a9;
    border-radius: 5px;
}
ul li img{
    width: 13%;
    float: left;
}
.col-phai-phai{
background-color: #aba9a9;
 margin-top: 1%;
}
.col-phai-trai{
background-color: #aba9a9;
 margin-top: 1%;
}
.col-phai-phai img{
    border-radius: 5px;
}
.col-phai-trai img{
    width: 100%;
 height: 275px;
  border-radius: 5px;
}
.col-phai-1{
    background-color: aquamarine;
    float: left;
    width: 95%;
}
#content{
    width: 60%;
    height: 250px;
    background-color: blueviolet;
    position: absolute;
    display: none;
}

.size-content {
    width: 90%;
    height: 400px;
}

